/* Estas etiquetas comparten las mismas propiedades. 
Cualquier otra etiqueta h2 tendrá las mismas características */

* {
	font-family: Verdana;
}

h1,h2 {
	text-align: center;
	text-decoration: underline;
}
p {
	text-align: right;
	color: blue;
}

p#rusia, p#iran { /* agrupacion */
	border: 1px dotted black; /* [1px, dotted, black]*/
}

div#cabecera {
	background-image: url('http://es.fifa.com//assets/img/tournaments/17/2018/common/fwc_darkbluebg.png');
	height: 100px;
}

span.bombo {
	color: orange;
}

/* 
Selectores 
	Universal * {...}
	Por elemento <tag_name> {...}
	Por identificador [<tag_name>]#<id> {...}
	Por clase [<tag_name>].<class> {...}
*/